<table>
  <thead>
    <tr>
      <th class="hidden">User</th>
      <th class="hidden">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td style= "color:white"><%= friend.user.full_name.titlecase %></td>
        <td>
          &nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "Remove", remove_friend_homes_path(friend: friend), class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>

    <% @current_user_friends.each do |friend| %>
      <tr>
        <td style= "color:white"><%= User.find_by_id(friend.receiver_id).full_name.titlecase %></td>
        <td>
          &nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "Remove", remove_friend_homes_path(friend: friend), class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
