<!-- Removed the modal markup -->
<table>
  <thead>
    <tr>
      <th class="hidden">User</th>
      <th class="hidden">Action</th>
    </tr>
  </thead>
  <tbody>
    <% if @requests.present? %>
      <% @requests.each do |request| %>
        <tr>
          <td style="color: white"><%= request.user.full_name.titlecase %></td>
          <td>
            &nbsp&nbsp&nbsp&nbsp<%= link_to "Remove", remove_friend_homes_path(friend_id: request.id), class: "btn btn-danger" %>
          </td>
          <td>
            <%= link_to "Accept", accepted_homes_path(id: request.id), class: "btn btn-success" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3">
          <div style="color:green;border: solid;width:30%">
            There is no request present
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
