<!-- Removed the modal markup -->
<div style="border:1px solid black;text-align: center;width: 50%;background-color: yellow;">
  <b>Name:</b>
  <%= current_user.full_name %> </br>
  <b>Email:</b>
  <%= current_user.email %> </br>
</div>
