<table>
  <thead>
    <tr>
      <th class="hidden">User</th>
      <th class="hidden">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style= "color:white"><%= user.full_name.titlecase %></td>
        <td>
            &nbsp&nbsp<%= link_to "Add", add_friend_homes_path(receiver_id: user.id), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
