<table>
  <thead>
    <tr>
      <th class="hidden">User</th>
      <th class="hidden">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="color:white"><%= user.full_name.titlecase %></td>
        <td>
          <% button_text, button_path = button_text_and_path_for_user(user) %>
          &nbsp&nbsp<%= link_to button_text, button_path, method: :post, class: "btn btn-primary add-btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
